<mat-list>
  <mat-list-item role="listitem">
    <button
      mat-button
      id="markAllDoneBtn"
      color="accent"
      (click)="markAllAsDone()"
    >
      Mark All as Done
    </button>
  </mat-list-item>

  @for (todo of state().todos(); track todo.id) {
    <mat-list-item role="listitem">
      <div class="d-flex justify-content-between align-items-center">
        <mat-checkbox
          [id]="'todo-' + todo.id"
          (click)="toggleTodoStatus(todo)"
          [checked]="todo.done"
        >
          <p [id]="'todo-' + todo.id + '-title'" class="mb-0">
            {{ todo.title }}
          </p>
          <small
            [id]="'todo-' + todo.id + '-description'"
            class="text-secondary"
          >
            {{ todo.description }}
          </small>
        </mat-checkbox>
        <div>
          <button mat-icon-button (click)="setTodoForEdition(todo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  }
</mat-list>
